<div class="row">
	<div class="field col-xs-4">
		<label for="codigo">Codigo:</label>
		<input id="codigo" type="text" name="codigo" autofocus="true" onkeyup="bus_articulo_cod($(this).val());">
	</div>
	<div class="field col-xs-4">
		<label for="desc">descripcion:</label>
		<input id="desc" type="text" name="desc">
	</div>
	<div class="field col-xs-4">
		<label for="precio">Precio de Venta:</label>
		<input id="precio" type="text" name="precio">
	</div>
</div>
<div class="row">
	<div class="field col-xs-4">
		<label for="cant">Cantidad:</label>
		<input id="cant" type="number" name="cant">
	</div>
</div>
<br>
<div class="actions">
	<input type="button" id="save" value="Guardar" class="btn btn-success" onclick="save_articulo();">
	<input type="button" id="canc" value="Cancelar" class="btn btn-warning" onclick="click_canc();">
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('input').attr('autocomplete','off');
	});
</script>